import React, { Component } from 'react';
import './{% uppercamel %}.scss';

interface {% uppercamel %}Props {

};

interface {% uppercamel %}State {

};

export default class {% uppercamel %} extends Component<{% uppercamel %}Props, {% uppercamel %}State> {
  render() {
    return (
      <div className="{% kebab %}">

      </div>
    );
  }
}
